<!doctype html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
    content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Nginx Config Generator</title>
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" rel="stylesheet">
  <script src="//cdn.bootcss.com/vue/1.0.27/vue.min.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
  <script src="//cdn.jsdelivr.net/clipboard.js/1.5.16/clipboard.min.js"></script>
  <script src="index.js"></script>
</head>
<body>
  <div class="container" id="myform">
    <h1>Nginx Config Generator</h1>
    <div class="form-group">
      <label>ドメイン名</label>
      <input type="text" class="form-control" placeholder="Example input" v-model="forms.server_name">
    </div>
    <div class="form-group">
      <label>ルートパス</label>
      <input type="text" class="form-control" placeholder="Example input" v-model="forms.root_path">
    </div>
    <div class="form-check form-check-inline">
      <label>
        <input type="checkbox" v-model="forms.use_php">
        PHPを使う
      </label>
    </div>
    <div class="form-check form-check-inline">
      <label>
        <input type="checkbox" v-model="forms.use_ssl">
        SSLサーバー
      </label>
    </div>
    <div class="form-check form-check-inline">
      <label>
        <input type="checkbox" v-model="forms.security_header">
        セキュリティヘッダーをつける
      </label>
    </div>
    <div class="form-check form-check-inline">
      <label>
        <input type="checkbox" v-model="forms.big_data">
        大きめのファイルを扱う
      </label>
    </div>
    <div class="float-right">
      <button class="btn btn-primary" data-clipboard-target="#result">クリップボードにコピー</button>
    </div>
    <textarea class="form-control" rows="35" id="result">{{ result }}</textarea>
  </div>
</html>